

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.page-header { margin: 10px; margin-left: 20px; border: 0px}

.jumbotron { padding-top: 10px; padding-bottom: 10px; }

h1 { font-family: Garamond, serif; }
h2 { font-family: Garamond, serif; }
h3 { font-family: Garamond, serif; }
h4 { font-family: Garamond, serif; }















